---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 0
AlignAfterOpenBracket: BlockIndent
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
Cpp11BracedListStyle: false
IncludeBlocks: Preserve
AccessModifierOffset: -4
AlignTrailingComments: false
SpaceBeforeParens: Never
